*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container{
    max-width: 900px;
    width: 80%;
    position: relative;
    .slides{
        margin: 0;
        padding: 0;
        
        & img{
            width: 100%;
            height: 500px;
            object-fit:cover;
            object-position: center;
            display: block;
        }
        img:not(.active){
            display: none;
        }
    }
    .thumbnails{
        position: absolute;
        top: 0;
        right: 0;
        width:  250px;
        height: 100%;
        & .card-thumbnails{
            width: 100%;
            height: 100%;
            height: calc(100% / 5);
            object-fit:cover;
            object-position: center;
            display: block;
            position: relative;
            > img{
                height: 100%;
                width: 100%;
                object-fit:cover;
                object-position: center;
                
            }
            & .container-overlay > .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.6;
                z-index: 1;
            }
            
        }
        & .image-thumbnails:hover .overlay{
            opacity: 0;
            z-index: 0;

        }
        .image-thumbnails:hover {
            position: relative;
            z-index: 2;
            border: 2px solid yellow;

        }
    }
    .actions{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        .prev, .next{
            margin: 10px;
            background-color: lightgray;
            font-size: 20px;
            border-radius: 50%;
            opacity: 0.3;
            padding: 10px;
            border: none;
        }
        .prev:hover, .next:hover{
            opacity: 1;
        }
    }
}